@model List<BooksLibrary.Entities.Concrete.Books>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>


    <table>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published Year</th>
            <th>Genre</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.BooksId</td>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.PublishedYear</td>
                <td>@item.Genre</td>
            </tr>
        }
       
        <tr>

    </table>

</body>
</html>

